body{
    font-family:'Courier New';
    background: #99FFCC;
    /* background-color: #99FFCC;
    background-image: url("pick.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 50%; */
    }