form {
    background-color: blueviolet;
    padding:30px;
    width: 50%;
    margin: 0 auto;
    border-radius: 60px;
}
button [type=submit] {
    padding:10px 20px;
    background-color: blanchedalmond;
    color:black;
    border-radius: 80px;
}
button [type=submit]:hover {
    background-color: red;
    color:white;
}
input {
    margin-bottom: 10px;
}